{% extends 'layout.html' %}

{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers.html" import render_button %}

{% block content %}
  <h1 class="text-center">{% block title %}Login{% endblock %}</h1>
  <form class="row g-3" action="" method="post" novalidate>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {{ form.hidden_tag() }}
      {{ render_field(form.username) }}
      {{ render_field(form.password) }}
      {{ render_button(form.submit) }}
      <div class="mt-3 mb-3">
        New user? <a href="{{ url_for('auth.register')}}">Click here</a> to register.
      </div>
    </div>
    <div class="col-md-4"></div>
  </form>
{% endblock %}