body {
    background-color: lightgray;
}

.bg-primary {
    background-color : lightblue !important;
}

header {
    border-bottom: 1px solid #333;
}

.main-header {
    border-bottom: 1px solid #333;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
    border-top: 1px solid #333;
    padding-top: 11pt;
}