{% macro render_field(field) %}
    <div class="mb-3">
        {{ field.label(class_="form-label") }}
        {{ field(class_="form-control") }}
    </div>
    <div class="mb-3">
        {% for error in field.errors %}
            <span class="alert alert-warning">{{ error }}</span>
        {% endfor %}
    </div>
{% endmacro %}


{% macro render_button(btn) %}
    {{ btn(class='btn btn-primary mb-3') }}
{% endmacro %}


{% macro auth_form(form) %}
    <form class="row g-3" action="" method="post" novalidate>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {{ form.hidden_tag() }}
            {%- for field in form %}
            {%- endfor %}
            {{ render_button(form.submit) }}
        </div>
        <div class="col-md-4"></div>
    </form>
{% endmacro %}