{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center">{% block title %}My Watchlists{% endblock %}</h1>
        <div class="row mb-3">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% include '_watchlist_nav.html' %}
            </div>
            <div class="col-md-2"></div>
        </div>
        
        <div class="row mb-3">
            {% if watchlist_ids %}
            {% set watchlist = watchlist_ids | selectattr('id', 'equalto', watchlist_id) | first %}
            <h3>Active Watchlist: {{ watchlist.list_name }}</h3>
            <a data-bs-toggle="modal" data-bs-target="#renameListModal" href="#">Rename Watchlist</a>
            <a data-bs-toggle="modal" data-bs-target="#deleteListModal" href="#">Delete Watchlist</a>
            {% endif %}
            <a data-bs-toggle="modal" data-bs-target="#addListModal" href="#">Add a New Watchlist</a>
        </div>
        
    </div>

    {% if list_data %}
    <div class="container">
        <table class="table table-hover">
            <thead class="table-primary">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for item in list_data['list'] %}
            <tr>
                <td>{{ item.symbol }}</td>
                <td>{{ item.name }}</td>
                <td>
                    <form action="{{ url_for("/.remove_from_watchlist")}}" method="post" novalidate>
                        <button class="btn btn-outline-danger btn-sm" type="submit" name="symbol" value="{{item.symbol}}">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% elif list_type == 'wl'and watchlist_id != 0 %}
        <div class="alert alert-warning" role="alert">The selected watchlist is empty.</div>
    {% endif %}

    {% if list_type == 'all' %}
    <div class="container">
        {% include '_pagination.html' %}
        <table class="table table-hover">
            <thead class="table-primary">
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th> Exchange </th>
                    <th> Sector | Industry </th>
                    <th> Add to Watchlist </th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for symbol, data in symbol_data|items %}
                <tr>
                    <td>{{ symbol }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.exchange }}</td>
                    <td>{{ data.sector }} | {{ data.industry }}</td>
                    <td>
                        {% if symbol not in watchlist_symbols%}
                        <form action="{{ url_for("/.add_to_watchlist")}}" method="post" novalidate>
                            <button class="btn btn-outline-success btn-sm" type="submit" name="symbol" value="{{symbol}}">Add</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include '_pagination.html' %}
    </div>
    {% endif %}

{% endblock %}